
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333; 
}

header {
    background-image: url("coffee_background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f0c808; /* Example hover color */
}

.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #f0c808; /* Example color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #d4af37; /* Darker hover color */
}


main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #5f3c00; /* Coffee brown */
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
}

.menu-item {
    border: 1px solid #ddd;
    height: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    background-color: white; 
}

.menu-item img {
    width: 100%;
    height: 50%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin-bottom: 5px;
    color: #5f3c00;
}

.menu-item p {
    margin-bottom: 10px;
    color: #777;
}

.price {
    font-weight: bold;
    color: #5f3c00;
}

.menu-item:hover {
    transform: translateY(-5px); /* Move up on hover */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15); /* More prominent shadow */
}

.about p {
    line-height: 1.6;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}